

  <div class="row">

    <div class="twelve columns">
      <%=form_tag do%>
        <div class="ten columns">
          <%= time_zone_select :timezone,nil, nil,:default => "GMT"   %>
        </div>
        <div class="twocolumns">
          <%=submit_tag "Switch Time Zone"%>
        </div>
      <%end%>
    </div>

    <div class="twelve columns">
      <table class="twelve">
        <thead>
          <tr>
            <th>
              Member
            </th>
            <% 7.times do |i|%>
            <th><%=(Time.now + i.days).day%> <%=Date::MONTHNAMES[(Time.now + i.days).month]%></th>
            <% end%>
          </tr>
        </thead>
        <tbody>
          <%@organization.schedules.all.collect{|s| s.member}.uniq.each do |m|%>
          <tr>
            <td><%=m%></td>
            <td class="hours" colspan="7">
              <%@organization.schedules.where(:member=>m,:start_time.gt => Time.now.in_time_zone(Time.zone).beginning_of_day, :start_time.lt => Time.now + 7.day ).each do |s|%>
                <div class="schedule"
                  data-start-time="<%=(s.start_time - DateTime.now.in_time_zone(Time.zone).beginning_of_day)/30.minutes%>"
                  data-end-time="<%=s.available_for*2%>"
                  data-tooltip="<%=s.start_time%> to <%=s.start_time + s.available_for.hours%>"></div>
              <%end%>
            </td>
          </tr>
          <%end%>
        </tbody>
      </table>

      <%= link_to 'New Schedule', new_organization_schedule_path(@organization) %>

  </div>
